:root {
    --animation-end: 0;
}

figure.animation .path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation-name: dash;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes dash {
    100% {
        stroke-dashoffset: var(--animation-end);
    }
}

figure.animation {
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-weight: bold;
    width: max-content;
    margin: 0;
}

figure.animation > div {
    display: block;
}

figure.animation div.tradeoffs {
    margin-left: 14px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin-top: 20px;
}

@media (min-width: 768px){
    figure.animation > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    figure.animation div.tradeoffs {
        margin-left: 30px;
        height: 250px;
        margin-top: 0px;
    }
}

figure.animation form {
    display:block;
    margin: 0;
}

figure.animation div.tradeoffs.bikes, div.tradeoffs.mixed {
    display:none;
}



figure.animation div.tradeoffs > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

}

figure.animation div.tradeoffs > div > span:first-of-type {
    margin-right: 10px;
    font-size: 25px;
}

figure.animation div {
    width: max-content;
}
figure.animation input[type="radio"] {
    position: absolute;
    opacity: 0;
}

figure.animation fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    margin: 16px 0 16px 0;
    padding: 0 12px 0 12px
}

figure.animation label {
    font-weight: 700;
    font-size: 16px;
}

figure.animation span.radio {
    display: block;
    vertical-align: middle;
    text-align: center;
    color: white;
    height: 25px;
    line-height: 23px;
    background-color: gray;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: none;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

figure.animation div.tradeoffscontainer {
    margin:auto;
}

figure.animation input:checked + span.radio {
    border-color: rgba(0,0,0,0.8);
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.4));
}

figure.animation input[value="mixed"] + span.radio {
    background: rgb(94,105,208);
    background: linear-gradient(135deg, rgba(94,105,208,1) 0%, rgba(94,105,208,1) 50%, rgba(208,94,169,1) 50%, rgba(208,94,169,1) 100%);
}

figure.animation input[value="bikes"] + span.radio {
    background: rgba(208,94,169,1);
}

figure.animation input[value="van"] + span.radio {
    background: rgb(94,105,208);
}

